<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <mat-tab-group #tabs (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Yearly Fee List" style="margin-top: 30px;">
                  <ng-template matTabContent >
                    <mat-form-field style="width: 20%; margin-top: 20px;">
                      <mat-label>Filter</mat-label>

                      <input matInput (keyup)="applyFilter($event)" ([ngModel]) = "filter" placeholder="Ex. Mia" #filterInput>
                    </mat-form-field>
                    
                    <button class="btn btn-info btn-secondary" (click)="search()" style="height: 25px;padding: 4px;font-size: 12px;width: 30px;"><i class="fa fa-search" aria-hidden="true"></i></button>
                    <button class="btn btn-info btn-secondary" (click)="refresh()" style="height: 25px;padding: 4px;font-size: 12px;width: 30px; float: right;margin-top: 34px;margin-right: 1px;"><i class="fas fa-sync-alt"></i></button>
                    <button class="btn btn-info btn-secondary" (click)="addNewForm()" style="height: 25px;padding: 4px;font-size: 12px;width: 30px; float: right;margin-top: 34px;margin-right: 1px;"><i class="fas fa-plus"></i></button> 
                    <div class="mat-elevation-z8">
                          <table mat-table [dataSource]="dataSource" matSort >
                            <ng-container matColumnDef="departmentName" >
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Department </th>
                              <td mat-cell *matCellDef="let row"> {{row.departmentName}} </td>
                            </ng-container>
                       
                            <ng-container matColumnDef="gradeName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Grade </th>
                              <td mat-cell *matCellDef="let row"> {{row.gradeName}} </td>
                            </ng-container>
    
                            <ng-container matColumnDef="strandName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Strand </th>
                              <td mat-cell *matCellDef="let row"> {{row.strandName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="courseName">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Course </th>
                              <td mat-cell *matCellDef="let row"> {{row.courseName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="semester">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Semester </th>
                              <td mat-cell *matCellDef="let row"> {{row.semester}} </td>
                            </ng-container>

                            <ng-container matColumnDef="schoolyearfrom">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> School Year From </th>
                              <td mat-cell *matCellDef="let row"> {{row.schoolyearfrom}} </td>
                            </ng-container>


                            <ng-container matColumnDef="schoolyearto">
                              <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header">  School Year To </th>
                              <td mat-cell *matCellDef="let row"> {{row.schoolyearto}} </td>
                            </ng-container>
                        
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Actions </th>
                              <mat-cell *matCellDef="let row" style="padding: 5px;" >
                                   <button class="btn btn-info btn-secondary btn-modal-footer-x" style="font-size: 12px;" (click)="edit(row)" mat-button >Edit</button>
                              </mat-cell> 
                            </ng-container>

                            <ng-container matColumnDef="Status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Status </th>
                                <mat-cell *matCellDef="let row" style="padding: 5px;" >
                                    <input matInput ([ngModel]) = "Status" >
                                </mat-cell>
                             
                             </ng-container>
      
                            <tr class="mat-row" *matNoDataRow>
                              <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                            </tr>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                          </table> 
                        
                            <mat-paginator  [length]="length" [pageSize]="pageSize" [pageIndex]="pageNo" [pageSizeOptions]="pageSizeOptions"  (page)="pageEvents($event)"></mat-paginator>
                        </div>
                      </ng-template>
                </mat-tab>
                <mat-tab label="Yearly Fee" >
                  <ng-template matTabContent>
                        <div class="card-body" style="box-shadow: 2px 0px 5px 0px #ddddde;">
                            <div class="row" style="padding: 1px;">
                              <div class="col-md-3" style="padding: 1px;">
                                <form >
                                  <label style="font-size: 13px;margin-bottom: 0px;">School Year From  </label>
                                  <select name="filterx"    [(ngModel)]= "yearlyFee.schoolyearfrom"    class="form-control inputText">
                                    <option name="ox" *ngFor = "let o of schoolyearList"  [ngValue]="o.id">
                                        {{o.name}}
                                    </option>
                                  </select>
                                </form>
                              </div>
                              <div class="col-md-3" style="padding: 1px;">
                                <form >
                                  <label style="font-size: 13px;margin-bottom: 0px;">School Year To  </label>
                                  <select name="filtery"  [(ngModel)]= "yearlyFee.schoolyearto"    class="form-control inputText">
                                    <option name="yo" *ngFor = "let o of schoolyearList"  [ngValue]="o.id">
                                        {{o.name}}
                                    </option>
                                </select>
                              </form>
                              </div>
                              <div class="col-md-3" style="padding: 1px;">
                                <form >
                                  <label style="font-size: 13px;margin-bottom: 0px;">Department </label>
                                  <div class="form-group">
                                      <div class="input-group">
                                          <select name="filter"  [(ngModel)]= "yearlyFee.departmentId" (change)="selectDepartment()" class="form-control inputText">
                                              <option name="o" *ngFor = "let o of deparmentList"  [ngValue]="o.id">
                                                  {{o.name}}
                                              </option>
                                          </select>
                                      </div>
                                  </div>
                              </form>
                              </div>

                              <div class="col-md-3" style="padding: 1px;">
                                  <form >
                                    <label style="font-size: 13px;margin-bottom: 0px;">Grade/Year Level </label>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select name="gradex"  [(ngModel)]= "yearlyFee.gradeId"  class="form-control inputText" >
                                                <option name="x" *ngFor = "let o of gradesList"  [ngValue]="o.id">
                                                    {{o.name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </form>
                              </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3" style="padding: 1px;">
                                  <form >
                                      <label style="font-size: 13px;margin-bottom: 0px;">Strand </label>
                                      <div class="form-group">
                                          <div class="input-group">
                                              <select name="strand"  [(ngModel)]= "yearlyFee.strandId"   class="form-control inputText">
                                                  <option  name="o" *ngFor = "let o of trackStandardCourse"   [ngValue]="o.id">
                                                      {{o.name}}
                                                  </option>
                                              </select>
                                          </div>
                                      </div>
                                  </form>
                                </div>
      
                                <div class="col-md-3" style="padding: 1px;">
                                  <form >
                                      <label style="font-size: 13px;margin-bottom: 0px;">Course </label>
                                      <div class="form-group">
                                          <div class="input-group">
                                              <select name="course"  [(ngModel)]= "yearlyFee.courseId"   class="form-control inputText">
                                                  <option  name="o" *ngFor = "let o of courseList"   [ngValue]="o.id">
                                                      {{o.name}}
                                                  </option>
                                              </select>
                                          </div>
                                      </div>
                                  </form>
                                </div>
                                
                                  <div class="col-md-3" style="padding: 1px;">
                                      <form >
                                          <label style="font-size: 13px;margin-bottom: 0px;">Semester </label>
                                          <div class="form-group">
                                              <div class="input-group">
                                                  <select name="filter"  [(ngModel)]= "yearlyFee.semester"  class="form-control inputText">
                                                      <option name="o" *ngFor = "let o of schoolsemesterList"  [ngValue]="o.id">
                                                          {{o.name}}
                                                      </option>
                                                  </select>
                                              </div>
                                          </div>
                                      </form>
                                  </div>
                          </div>
                          <div  style="padding-bottom: 10px;">
                            <button class="btn btn-info btn-secondary" (click)="addNew()" style="height: 25px;padding: 4px;font-size: 12px;width: 30px;float: right;" ><i class="fas fa-plus"></i></button>
                          </div>
                        </div>
                          <div class="card-body">
                            <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSourceForm" matSort >
                                <ng-container matColumnDef="Fee" >
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Fees </th>
                                  <td mat-cell *matCellDef="let row"> {{row.description}} </td>
                                </ng-container>
                           
                                <ng-container matColumnDef="Amount">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Amount </th>
                                  <td mat-cell *matCellDef="let row"> 
                                       <input matInput [id]="row.amount" [(ngModel)]="row.amount"  > 
                                  </td>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Actions </th>
                                <mat-cell *matCellDef="let row" style="padding: 5px;" >
                                     <button class="btn btn-info btn-secondary btn-modal-footer-x" style="font-size: 12px;" (click)="removeFee(row)" mat-button >Remove</button>
                                </mat-cell>
                              </ng-container>
        
                                <tr mat-header-row *matHeaderRowDef="billFormColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: billFormColumns;"></tr>
                              </table> 
                           </div>
                          </div>
                      
                    <button class="btn btn-info btn-secondary" (click)="save()" >Save</button>
                  </ng-template>
              
                </mat-tab>
              </mat-tab-group>
            </div>
        </div>
    </div>
</div>




