<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
              <mat-tab-group #tabs (selectedTabChange)="onTabChange($event)">
                <mat-tab label="Billing" style="margin-top: 30px;">
                    <ng-template matTabContent>
                        <div >
                            <div class="card-body" style="box-shadow: 2px 0px 5px 0px #ddddde;border-radius: 10px;">
                                <label>Student:</label><input disabled type="text"/>
                                <button class="btn btn-info btn-secondary" (click)="refresh()" style="height: 25px;padding: 4px;font-size: 12px;width: 30px;"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSourceForm" matSort >

                                        <ng-container matColumnDef="Date" >
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Date </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Date}} </td>
                                          </ng-container>

                                      <ng-container matColumnDef="Fee" >
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Fees </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
                                      </ng-container>
                                 
                                      <ng-container matColumnDef="Credit">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Credit </th>
                                        <td mat-cell *matCellDef="let row"> 
                                             <input matInput [id]="row.Credit" > 
                                        </td>
                                      </ng-container>

                                      <ng-container matColumnDef="Debit">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Debit </th>
                                        <td mat-cell *matCellDef="let row"> {{row.Debit}}
                                        </td>
                                      </ng-container>

                                      <ng-container matColumnDef="EndingBalance">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Ending Balance </th>
                                        <td mat-cell *matCellDef="let row"> {{row.EndingBalance}}
                                        </td>
                                      </ng-container>
              
                                      <tr mat-header-row *matHeaderRowDef="billFormColumns"></tr>
                                      <tr mat-row *matRowDef="let row; columns: billFormColumns;"></tr>
                                    </table> 
                                  
                                 </div>
                            </div>
                        </div>
                      </ng-template>
                </mat-tab>
                <mat-tab label="Billing List" >
                    <ng-template matTabContent >
                        <mat-form-field style="width: 20%; margin-top: 20px;">
                          <mat-label>Filter</mat-label>
                          <input matInput (keyup)="applyFilter($event)" ([ngModel]) = "filter" placeholder="Ex. Mia" #filterInput>
                        </mat-form-field>
                        <button class="btn btn-info btn-secondary" (click)="search()" style="height: 25px;padding: 4px;font-size: 12px;width: 30px;"><i class="fa fa-search" aria-hidden="true"></i></button>
                        <button class="btn btn-info btn-secondary" (click)="refresh()" style="height: 25px;padding: 4px;font-size: 12px;width: 30px;"><i class="fa fa-refresh" aria-hidden="true"></i></button>                           
                        <div class="mat-elevation-z8">
                              <table mat-table [dataSource]="dataSource" matSort >
                                <ng-container matColumnDef="Code" >
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Code. </th>
                                  <td mat-cell *matCellDef="let row"> {{row.Code}} </td>
                                </ng-container>
                           
                                <ng-container matColumnDef="Description">
                                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Description </th>
                                  <td mat-cell *matCellDef="let row"> {{row.Description}} </td>
                                </ng-container>
        
                   
                            
                                <ng-container matColumnDef="Actions">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Actions </th>
                                  <mat-cell *matCellDef="let row" style="padding: 5px;" >
                                       <button class="btn btn-info btn-secondary btn-modal-footer-x" style="font-size: 12px;" (click)="edit(row)" mat-button >View</button>
                                  </mat-cell> 
                                </ng-container>

                                <ng-container matColumnDef="Status">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-matt-header"> Status </th>
                                    <mat-cell *matCellDef="let row" style="padding: 5px;" >
                                        <input matInput ([ngModel]) = "Status" >
                                    </mat-cell>
                                 
                                 </ng-container>
          
                                <tr class="mat-row" *matNoDataRow>
                                  <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                                </tr>
        
                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                              </table> 
                            
                                <mat-paginator  [length]="length" [pageSize]="pageSize" [pageIndex]="pageNo" [pageSizeOptions]="pageSizeOptions"  (page)="pageEvents($event)"></mat-paginator>
                            </div>
                          </ng-template>
                </mat-tab>
              </mat-tab-group>
            </div>
        </div>
    </div>
</div>




