<div >
    <div class="modal-header modal-header-pb">
      <h4 class="carrier-modal-tittle">Please....</h4>
    </div>
    <div class="modal-body carrier-modal-body">
      <div  class="carrier-modal-div" #myDiv>
      </div>
    </div>
    <div class="modal-footer att-modal-footer">
      <button type="button" class="btn btn-info btn-secondary btn-modal-footer-ok" (click)="confirm()"  >Ok</button>
      <button type="button" class="btn btn-info btn-secondary btn-modal-footer-x" (click)="dismiss()">Cancel</button>
    </div>
  </div>
  