<div class="site-inner">
    <div class="card-body" style="box-shadow: 2px 0px 5px 0px #ddddde;border-radius: 10px;">
        <div style="box-shadow: 0px 1px 3px 0px #c8cec8;
        border-radius: 10px;">
        <div *ngIf="this.enrolmentStatus == 'approved'" >
            <h3>Enrolment Status: {{this.enrolmentStatus}}</h3>
            <h4>You're payment is sucessfully processed!</h4>
        </div>
            <h4 style="padding: 10px;font-weight: 500;">Payment Form S.Y. 2020-2021</h4>
        </div>
        <div class="col-md-3" style="margin-bottom: 20px;">
            <form >
                <label style="font-size: 13px;margin-bottom: 0px;">Reference/Enrol Number:</label>
                <div class="form-group">
                    <div class="input-group">
                    <input type="text"  name="ref" disabled  [(ngModel)]= "enrolNo"  class="form-control" placeholder="Reference Number Here" style=" font-size: 11px;padding: 5px;border-radius: 5px 0px 0px 5px;">
                         <button type="submit" (click)="onClickRefNo()" class="btn btn-info waves-effect waves-light" style="height: 30px;font-size: 12px;border-radius: 0px 5px 5px 0px;"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <div style="margin: -10px;padding: 10px;box-shadow: 1px 1px 6px 2px #6575;margin-bottom: 20px;">
            <div class="row" style="margin-bottom: -10px; margin-right: 0px;margin-left: 0px;">
                    <div class="col-md-5">
                            <h4 style="padding: 5px;font-weight: 400;">Information</h4>
                        <hr style="margin-top: 0px;"/>
                        <form >
                            <label style="font-size: 13px;margin-bottom: 0px;">Firstname</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="idfname" type="text" disabled [(ngModel)] = "firstName"   name="fName" class="form-control" style=" font-size: 11px;padding: 5px;border-radius: 5px;">
                                </div>
                            </div>
                            <label style="font-size: 13px;margin-bottom: 0px;">Lastname</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <input id="idfname" type="text" disabled [(ngModel)] = "lastName"  name="lName" class="form-control" style=" font-size: 11px;
                                    padding: 5px;border-radius: 5px;">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-7" >
                            <h4 style="padding: 5px;font-weight: 400;">Make Payment</h4>
                        <hr style="margin-top: 0px;" />
                        <form >
                            <label style="font-size: 13px;margin-bottom: 0px;">Payment Method</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <select  name="pOptions2" [(ngModel)]="payment.paymentMethod"  class="form-control" style=" font-size: 11px; padding: 5px;border-radius: 5px;">
                                        <option  name="o" *ngFor="let o of paymentOptions">
                                           {{o.name}}
                                        </option>
                                     </select> 
                                </div>
                            </div>
                            <label style="font-size: 13px;margin-bottom: 0px;">Amount to Pay</label>
                            <div class="form-group">
                                <div class="input-group">
                                     <input type="text"  [(ngModel)]="payment.amountToPay" name="amtPay" class="form-control" id="inputEmail3" placeholder="amount" style=" font-size: 11px;
                                     padding: 5px;border-radius: 5px;">
                                </div>
                            </div>
                            <label style="font-size: 13px;margin-bottom: 0px;">Payment Description</label>
                            <div class="form-group">
                                <div class="input-group">
                                    <select  name="pOptions1" [(ngModel)]="payment.paymentDescription"  class="form-control" style=" font-size: 11px; padding: 5px;border-radius: 5px;">
                                        <option  name="o" *ngFor="let o of paymentType">
                                           {{o.name}}
                                        </option>
                                     </select> 
                                </div>
                            </div>
                            <label style="font-size: 13px;margin-bottom: 0px;">Proof of Payment</label>
                            <div class="form-group">
                                <div class="input-group">
                        
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input"   name="f"  (change)="handleFileInput($event.target.files)">
                                 
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <label> {{fileName}}</label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group">
                                    <label>Previous Attachment:</label><br>
                                    <!-- <label>  <a  target="_blank" href="http://127.0.0.1:8000/{{payment.attachmentpath}}">{{payment.filename}}</a> </label> -->
                                    <label>  <a  target="_blank" href="https://schoolmanagementapi.sjcc.edu.ph/storage/app/public/{{payment.attachmentpath}}">{{payment.filename}}</a> </label>
                      
                                </div>
                            </div>

                        </form>
                </div>
            </div>
        </div> 
        <div class="modal-footer att-modal-footer">
            <button *ngIf="!alreadyMakePaymentB4 && (enrolmentStatus == 'ForPayment' || enrolmentStatus ==  'PaymentForApproval')" type="submit" (click)="save()"  class="btn btn-info btn-secondary btn-modal-footer-x">Pay</button>
            <button *ngIf="alreadyMakePaymentB4 && (enrolmentStatus == 'ForPayment' || enrolmentStatus ==  'PaymentForApproval')" type="submit" (click)="save()"  class="btn btn-info btn-secondary btn-modal-footer-x">Update</button>
            <button type="submit" (click)="cancel()" class="btn btn-info btn-secondary btn-modal-footer-x">Cancel</button>
        </div>
    </div>
</div>





