
<div class="auth-wrapper d-flex no-block justify-content-center align-items-center" style="background: azure;">
    <div class="auth-box m-3 m-md-0">
        <div id="loginform" [ngClass]="{'d-none': recoverform}">
            <div class="logo" style="background: #3d8bf1;">
                <span class="db"><img src="/assets/images/header/sjccSealLogo.png" alt="logo" /></span>
                <span class="db"><img src="/assets/images/header/sjcHeadertextLogo.png" alt="logo"  /></span>
            </div>
            <!-- Form -->
            <div class="row">
                <div class="col-12">
                    <form class="form-horizontal m-t-20" id="loginform">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Username" name="pusername" [(ngModel)]= "user.username" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div>
                            <span style="font-size: 12px;padding: 2px;"><i class="mdi mdi-key"></i>Password:(Birthdate: <b style="font-weight: 600;">yyyy/mm/dddd</b>)</span>
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon2"><i class="ti-pencil"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Password" aria-label="Password" [(ngModel)]= "user.password" name = "ppassword"  aria-describedby="basic-addon1">
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12 text-center" style="margin-bottom: -15px;
                            margin-top: -10px;">
                                <label><span style="
                                    font-size: 12px;
                                    color: #ef1e44;"><span #noimg></span> {{message}}</span> </label>
                                </div>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-xs-12" style="padding-bottom: 10px;">
                                <button class="btn btn-block btn-lg btn-info" style="font-size: 15px;color: #f9f9f9bf;" (click)="login()">Log In</button>
                            </div>
                        </div>
                        <!-- <div class="row" style="background: #efefefd4"> -->
                            <div class="col-xs-12 col-sm-12 col-md-12 m-t-10 text-center">
                                <div class="social">
                                    <div style="font-size: 12px;
                                    padding: 2px;
                                    text-align: center;" >
                                    <span>For new Student & Transferees please click the link below
                                    </span>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                        <div class="form-group m-b-0 m-t-10">
                            <div class="col-sm-12 text-center">
                                <b>Click Link below for Online Enrollment</b>
                            </div>

                            <div class="col-sm-12 text-center">
                                <i class="mdi mdi-note-text" aria-hidden="true"></i><a href="studentenrollment/elementarystudent" class="text-info m-l-5" style="font-weight: 400;
                                font-size: 14px;"><b>Elementary</b></a>
                            </div>

                            <div class="col-sm-12 text-center">
                                <i class="mdi mdi-note-text" aria-hidden="true"></i><a href="studentenrollment/highschoolstudent" class="text-info m-l-5" style="font-weight: 400;
                                font-size: 14px;"><b>HighSchool</b></a>
                            </div>

                            <div class="col-sm-12 text-center">
                                <i class="mdi mdi-note-text" aria-hidden="true"></i><a href="studentenrollment/collegestudent" class="text-info m-l-5" style="font-weight: 400;
                                font-size: 14px;"><b>College</b></a>
                            </div>

                            <div class="col-sm-12 text-center">
                                <i class="mdi mdi-note-text" aria-hidden="true"></i><a href="studentenrollment/graduate" class="text-info m-l-5" style="font-weight: 400;
                                font-size: 14px;"><b>GraduateSchool</b></a>
                            </div>

                 
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="recoverform" [ngClass]="{'d-block': recoverform}">
            <div class="logo">
                <span class="db"><img src="assets/images/logo-icon.png" alt="logo" /></span>
                <h5 class="font-medium m-b-20">Recover Password</h5>
                <span>Enter your Email and instructions will be sent to you!</span>
            </div>
            <div class="row m-t-20">
                <!-- Form -->
                <form class="col-12">
                    <!-- email -->
                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control form-control-lg" type="email" required="" placeholder="Username">
                        </div>
                    </div>
                    <!-- pwd -->
                    <div class="row m-t-20">
                        <div class="col-12">
                            <button class="btn btn-block btn-lg btn-danger" type="submit" name="action">Reset</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>