/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
@import "~@ng-select/ng-select/themes/default.theme.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-form-field-appearance-fill .mat-form-field-flex {
    border-radius: 4px 4px 0 0;
    padding: 10px !important;
    height: auto !important;
    background: none !important;
    height: 31px !important;
}
.mat-form-field {
    font-size: 14px;
    width: 50% !important;
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
    flex-wrap: wrap;
}
.ng-select .ng-arrow-wrapper {
    cursor: pointer;
    position: relative;
    /* text-align: center; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  .ng-select .ng-select-container {
    cursor: default;
    display: -webkit-box;
    display: flex;
    outline: 0;
    overflow: hidden;
    position: relative;
    width: 100%;
    border: 1px solid #e7e8e8;
}
  .ng-select.ng-select-single .ng-select-container {
    height: 31px;
    margin-top: -4px;
}
.q-tree-container {
    width: 100%;
    overflow: unset !important;
    -webkit-transition: max-height .25s ease-in;
    transition: max-height .25s ease-in;
}
.ng-dropdown-panel.ng-select-bottom {
    top: 100%;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-top-color: #e6e6e6;
    margin-top: -1px;
}
.ng-dropdown-panel {
    left: -0;
}
.ng-dropdown-panel .scroll-host {
    overflow: hidden;
    overflow-y: auto;
    position: relative;
    display: block;
    -webkit-overflow-scrolling: touch;
    border: 1px solid #e9eaea;
    background: #fff;
}